<p id="notice"><%= notice %><i class="fa fa-times fa-lg right" aria-hidden="true"></i></p>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pad-20-10">

            <h2>Listing all Dunglers</h2>

            <table class="table">
                <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td>
                          <%= link_to user do %>
                            <%= user.name %>
                          <% end %>
                        </td>
                        <td>
                          <%= user.bio %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <div class="half-space"></div>

            <%= link_to root_path do %>
              <button class="btn shade purple-text white">
                <i class="fa fa-arrow-left before" aria-hidden="true"></i> Back to home
              </button>
            <% end %>

        </div>
        <!-- closing col -->
    </div>
    <!-- closing row -->
</div>
<!-- closing container -->
