<p id="notice"><%= notice %><i class="fa fa-times fa-lg right" aria-hidden="true"></i></p>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pad-20-0">
            <h4>
                <%= @user.name %>
            </h4>

            <p class="bigger">
                <%= @user.bio %>
            </p>

            <p>
              <strong>Dungles: </strong><%= @dungles.size %>
            </p>

            <div class="dungles">
              <% if @dungles.size === 0 %>
                <% if @user.name.present? %>
                  <p><%= @user.name %> does not have any dungles yet.</p>
                <% else %>
                  <p class="text-muted">This dungler does not have any dungles yet.</p>
                <% end %>
              <% else %>

                <% @dungles.each do |dungle| %>
                  <div class="dungle">
                    <h4>
                      <%= link_to user_dungle_path(user_id: @user.id, id: dungle.id) do %>
                        <%= dungle.title %>
                      <% end %>
                    </h4>
                    <p class="bigger">
                      <%= dungle.description[0..100] %>
                      <%= '...' unless dungle.description.length <= 100 %>
                    </p>
                    <p>
                      Performance: <%= dungle.performance %><br>
                      Ambience: <%= dungle.ambience %><br>
                      Scent: <%= dungle.scent %><br>
                      Cleanliness: <%= dungle.cleanliness %><br>
                      Traffic: <%= dungle.traffic %>
                    </p>
                  </div>
                <% end %>
                <!-- close loop over dungles -->
              <% end %>
              <!-- close logic checking if there are any dungles -->
            </div>

            <% if current_user === @user %>
            <%= link_to 'Edit', edit_user_path %><br>
            <% end %>
            <%= link_to 'Back to all users', users_path %><br>
            <%= link_to 'Back to home', root_path %>
        </div>
    </div>
</div>
