<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pad-20-10">
    <h1>Welcome to Dunglebook</h1>
    <h6 class="text-muted">Making the world a better place one dungle at a time.</h6>

    <div class="divider"></div>

    <% if current_user and current_user.name.present? %>
      <p class="bigger">Hi <%= current_user.name %>! Hope you're having a nice day and an even nicer poop!</p>
    <% elsif current_user %>
      <p class="bigger">Hi there! Go to <%= link_to 'your profile', current_user %> to add more information.</p>
    <% else %>
      <p class="bigger">Hi there and welcome! Login so you can get started and join our glorious, honorable mission.</p>
    <% end %>

    <div class="half-space"></div>

    <% if !current_user %>
      <%= link_to new_user_registration_path do %>
        <button class="btn shade purple marg-right-5">
          Sign up <i class="fa fa-plus" aria-hidden="true"></i>
        </button><% end %>

      <%= link_to new_user_session_path do %>
        <button class="btn shade green">
          Sign in <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      <% end %>
    <% else %>
      <%= link_to users_path do %>
        <button class="btn shade green">
          View all users <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      <% end %>
    <% end %>
    <!-- close logged in logic -->

    <div class="half-space"></div>
    
    </div>
    <!-- closing col -->
  </div>
  <!-- closing row -->
</div>
<!-- closing container -->
