<h1>Welcome to Dunglebook</h1>
<h6 class="text-muted">Making the world a better place one dungle at a time.</h6>

<%= link_to 'View all users', users_path %>

<% if current_user %>
  <p> Hi <%= current_user.name %>! Hope you're having a nice day and an even nicer poop!</p>
<% end %>

<% if !current_user %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= link_to 'Sign out', destroy_user_session_path %>
<% end %>
