<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    <h1>Welcome to Dunglebook</h1>
    <h6 class="text-muted">Making the world a better place one dungle at a time.</h6>

    <%= link_to 'View all users', users_path %>

    <% if current_user %>
      <p> Hi <%= current_user.name %>! Hope you're having a nice day and an even nicer poop!</p>
    <% end %>

    <% if !current_user %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% else %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% end %>
    </div>
    <!-- closing col -->
  </div>
  <!-- closing row -->
</div>
<!-- closing container -->
