<%= form_for([@user, @user.dungles.new], remote: true) do |form| %>
  <% if dungle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dungle.errors.count, "error") %> prohibited this dungle from being saved:</h2>

      <ul>
      <% dungle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :dungle_description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ambience %>
    <%= form.hidden_field :ambience, id: :dungle_ambience %>
    <div class="rating" id="ambienceRating">
      <h4>
        <i class="fa fa-star" alt="1" for="dungle_ambience"></i>
        <i class="fa fa-star" alt="2" for="dungle_ambience"></i>
        <i class="fa fa-star" alt="3" for="dungle_ambience"></i>
        <i class="fa fa-star" alt="4" for="dungle_ambience"></i>
        <i class="fa fa-star" alt="5" for="dungle_ambience"></i>
      </h4>
    </div>
  </div>

  <div class="field">
    <%= form.label :scent %>
    <%= form.hidden_field :scent, id: :dungle_scent %>
    <div class="rating" id="scentRating">
      <h4>
        <i class="fa fa-star" alt="1" for="dungle_scent"></i>
        <i class="fa fa-star" alt="2" for="dungle_scent"></i>
        <i class="fa fa-star" alt="3" for="dungle_scent"></i>
        <i class="fa fa-star" alt="4" for="dungle_scent"></i>
        <i class="fa fa-star" alt="5" for="dungle_scent"></i>
      </h4>
    </div>
  </div>

  <div class="field">
    <%= form.label :cleanliness %>
    <%= form.hidden_field :cleanliness, id: :dungle_cleanliness %>
    <div class="rating" id="cleanlinessRating">
      <h4>
        <i class="fa fa-star" alt="1" for="dungle_cleanliness"></i>
        <i class="fa fa-star" alt="2" for="dungle_cleanliness"></i>
        <i class="fa fa-star" alt="3" for="dungle_cleanliness"></i>
        <i class="fa fa-star" alt="4" for="dungle_cleanliness"></i>
        <i class="fa fa-star" alt="5" for="dungle_cleanliness"></i>
      </h4>
    </div>
  </div>

  <div class="field">
    <%= form.label :traffic %>
    <%= form.hidden_field :traffic, id: :dungle_traffic %>
    <div class="rating" id="trafficRating">
      <h4>
        <i class="fa fa-star" alt="1" for="dungle_traffic"></i>
        <i class="fa fa-star" alt="2" for="dungle_traffic"></i>
        <i class="fa fa-star" alt="3" for="dungle_traffic"></i>
        <i class="fa fa-star" alt="4" for="dungle_traffic"></i>
        <i class="fa fa-star" alt="5" for="dungle_traffic"></i>
      </h4>
    </div>
  </div>

  <div class="field">
    <%= form.label :performance %>
    <%= form.hidden_field :performance, id: :dungle_performance, value: "0" %>
    <div class="rating" id="performanceRating">
      <h4>
        <i class="fa fa-star" alt="1" for="dungle_performance"></i>
        <i class="fa fa-star" alt="2" for="dungle_performance"></i>
        <i class="fa fa-star" alt="3" for="dungle_performance"></i>
        <i class="fa fa-star" alt="4" for="dungle_performance"></i>
        <i class="fa fa-star" alt="5" for="dungle_performance"></i>
      </h4>
    </div>
  </div>
  <div class="half-space"></div>
  <div class="actions">
    <%= form.submit 'Post Dungle', class: 'btn shade white blush-text' %>
  </div>
  <div class="space"></div>
<% end %>

<script type="text/javascript">
  $('.rating .fa').click(function() {
    var id = '#' + $(this).attr('for');
    var $input = $(id);
    console.log($input);
    $input.val($(this).attr('alt'));
    $(this).addClass('selected');
    $(this).prevAll().addClass('selected');
    $(this).nextAll().removeClass('selected');
  });
</script>
