<%= form_for([@user, @dungle], remote: true) do |form| %>
  <% if @dungle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dungle.errors.count, "error") %> prohibited this dungle from being saved:</h2>

      <ul>
      <% @dungle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :dungle_title, class: 'form-control', required: 'true' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :dungle_description, class: 'form-control', required: 'true'  %>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="field">
        <%= form.label :ambience %>
        <p class="text-muted">Was your experience visually stimulating?</p>
        <%= form.hidden_field :ambience, id: :dungle_ambience %>
        <div class="rating" id="ambienceRating">
          <h4>
            <i class="fa fa-star <%= 'selected' if @dungle.ambience and @dungle.ambience >= 1 %>" alt="1" for="dungle_ambience"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.ambience and @dungle.ambience >= 2 %>" alt="2" for="dungle_ambience"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.ambience and @dungle.ambience >= 3 %>" alt="3" for="dungle_ambience"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.ambience and @dungle.ambience >= 4 %>" alt="4" for="dungle_ambience"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.ambience and @dungle.ambience == 5 %>" alt="5" for="dungle_ambience"></i>
          </h4>
        </div>
      </div>
    </div>
    <!-- closing col around the field -->

    <div class="col-12 col-sm-6">
      <div class="field">
        <%= form.label :scent %>
        <p class="text-muted">How'd it smell in there?</p>
        <%= form.hidden_field :scent, id: :dungle_scent %>
        <div class="rating" id="scentRating">
          <h4>
            <i class="fa fa-star <%= 'selected' if @dungle.scent and @dungle.scent >= 1 %>" alt="1" for="dungle_scent"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.scent and @dungle.scent >= 2 %>" alt="2" for="dungle_scent"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.scent and @dungle.scent >= 3 %>" alt="3" for="dungle_scent"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.scent and @dungle.scent >= 4 %>" alt="4" for="dungle_scent"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.scent and @dungle.scent == 5 %>" alt="5" for="dungle_scent"></i>
          </h4>
        </div>
      </div>
    </div>
    <!-- closing col around the field -->
  </div>
  <!-- closing row around 2 fields -->

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="field">
        <%= form.label :cleanliness %>
        <p class="text-muted">How well-maintained were the facilities?</p>
        <%= form.hidden_field :cleanliness, id: :dungle_cleanliness %>
        <div class="rating" id="cleanlinessRating">
          <h4>
            <i class="fa fa-star <%= 'selected' if @dungle.cleanliness and @dungle.cleanliness >= 1 %>" alt="1" for="dungle_cleanliness"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.cleanliness and @dungle.cleanliness >= 2 %>" alt="2" for="dungle_cleanliness"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.cleanliness and @dungle.cleanliness >= 3 %>" alt="3" for="dungle_cleanliness"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.cleanliness and @dungle.cleanliness >= 4 %>" alt="4" for="dungle_cleanliness"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.cleanliness and @dungle.cleanliness == 5 %>" alt="5" for="dungle_cleanliness"></i>
          </h4>
        </div>
      </div>
    </div>
    <!-- closing col around field -->

    <div class="col-12 col-sm-6">
      <div class="field">
        <%= form.label :traffic %>
        <p class="text-muted">Could you easily and peacefully access the stall?</p>
        <%= form.hidden_field :traffic, id: :dungle_traffic %>
        <div class="rating" id="trafficRating">
          <h4>
            <i class="fa fa-star <%= 'selected' if @dungle.traffic and @dungle.traffic >= 1 %>" alt="1" for="dungle_traffic"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.traffic and @dungle.traffic >= 2 %>" alt="2" for="dungle_traffic"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.traffic and @dungle.traffic >= 3 %>" alt="3" for="dungle_traffic"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.traffic and @dungle.traffic >= 4 %>" alt="4" for="dungle_traffic"></i>
            <i class="fa fa-star <%= 'selected' if @dungle.traffic and @dungle.traffic == 5 %>" alt="5" for="dungle_traffic"></i>
          </h4>
        </div>
      </div>
    </div>
    <!-- closing col around field -->
  </div>
  <!-- closing row around 2 fields -->

  <div class="field">
    <%= form.label :performance %>
    <p class="text-muted">All in all, did the toilet, paper, and amenities get the job done?</p>
    <%= form.hidden_field :performance, id: :dungle_performance %>
    <div class="rating" id="performanceRating">
      <h4>
        <i class="fa fa-star <%= 'selected' if @dungle.performance and @dungle.performance >= 1 %>" alt="1" for="dungle_performance"></i>
        <i class="fa fa-star <%= 'selected' if @dungle.performance and @dungle.performance >= 2 %>" alt="2" for="dungle_performance"></i>
        <i class="fa fa-star <%= 'selected' if @dungle.performance and @dungle.performance >= 3 %>" alt="3" for="dungle_performance"></i>
        <i class="fa fa-star <%= 'selected' if @dungle.performance and @dungle.performance >= 4 %>" alt="4" for="dungle_performance"></i>
        <i class="fa fa-star <%= 'selected' if @dungle.performance and @dungle.performance == 5 %>" alt="5" for="dungle_performance"></i>
      </h4>
    </div>
  </div>
  <!-- end of ratings -->
  <div class="field">
    <%= form.label :location_title, 'Location' %>
    <%= form.text_field :location_title, id: :dungle_location_title, class: 'form-control' %>
  </div>

  <div class="half-space"></div>
  <div class="actions">
    <%= form.submit 'Post Dungle', class: 'btn shade purple' %>
  </div>
  <div class="half-space"></div>
<% end %>

<script type="text/javascript">
  // Apply styling and state to ratings in the form
  $('.rating .fa').click(function() {
    var id = '#' + $(this).attr('for');
    var $input = $(id);
    $input.val($(this).attr('alt'));
    $(this).addClass('selected');
    $(this).prevAll().addClass('selected');
    $(this).nextAll().removeClass('selected');
  });
</script>

<!-- google maps places api for location searching -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDKA-2kym8TeAHSh6lNFnyA4SG1AuJ46G8&callback=initMap"></script>
<script type="text/javascript">
    var input = document.getElementById('dungle_location_title');
    var autocomplete = new google.maps.places.Autocomplete(input);
</script>
