<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pad-20-0">

            <p>
                <strong>User:</strong>
                <%= @dungle.user.name %>
            </p>

            <p>
                <strong>Title</strong>
                <%= @dungle.title %>
            </p>

            <p>
                <strong>Description:</strong>
                <%= @dungle.description %>
            </p>

            <p>
                <strong>Performance:</strong>
                <%= @dungle.performance %>
            </p>

            <p>
                <strong>Ambience:</strong>
                <%= @dungle.ambience %>
            </p>

            <p>
                <strong>Scent:</strong>
                <%= @dungle.scent %>
            </p>

            <p>
                <strong>Cleanliness:</strong>
                <%= @dungle.cleanliness %>
            </p>

            <p>
                <strong>Traffic:</strong>
                <%= @dungle.traffic %>
            </p>

            <div id="map"></div>

            <% if current_user and current_user === @dungle.user %>
            <%= link_to 'Edit', edit_user_dungle_path(id: @dungle.id) %><br>
            <%= link_to 'Delete Dungle', user_dungle_path(id: @dungle.id), method: :delete %><br>
            <% end %>
            <%= link_to 'Back to home', root_path %>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal">
      <div class="modal-dialog" role="form" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              This is the modal title
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is the modal body
          </div>
        </div>
      </div>
    </div>

    <script>
        function initMap() {
            var position = {
                lat: -25.363,
                lng: 131.044
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: position
            });
            var marker = new google.maps.Marker({position: position, map: map});
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKA-2kym8TeAHSh6lNFnyA4SG1AuJ46G8&callback=initMap"></script>

    <!-- Maps API Key: AIzaSyDKA-2kym8TeAHSh6lNFnyA4SG1AuJ46G8 -->
