<p id="notice"><%= notice %><i class="fa fa-times fa-lg right" aria-hidden="true"></i></p>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pad-20-10">
            <!-- Edit options -->
            <% if current_user === @dungle.user %>
              <div class="btn-group right-absolute">
                <button type="button" class="btn btn-blank cursor pad-10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v fa-lg before" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to edit_user_dungle_path(id: @dungle.id), class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Edit Dungle
                  <% end %>
                  <a href="" class="dropdown-item" data-toggle="modal" data-target="#modal">
                    <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Edit Location
                  </a>
                  <div class="dropdown-divider"></div>
                  <%= link_to user_dungle_path(id: @dungle.id), method: :delete, class: 'dropdown-item' do %>
                    <i class="fa fa-fw fa-times" aria-hidden="true"></i> Delete Dungle
                  <% end %>
                </div>
              </div>
            <% end %>

            <h2><%= @dungle.title %></h2>
            <%= link_to @dungle.user do %>
              <h6 class="inline"><%= @dungle.user.name %></h6>
            <% end %>

            <div class="divider"></div>

            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-lg fa-map-marker"></i>
                <%= @dungle.location_title %><br>
                <span class="text-muted"><%= @dungle.address %></span>
              </li>
            </ul>

            <div class="divider"></div>

            <p class="bigger">
                <%= @dungle.description %>
            </p>

            <table class="table">
              <tbody>
                <!-- performance -->
                <tr>
                  <td>Performance</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- ambience -->
                <tr>
                  <td>Ambience</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- scent -->
                <tr>
                  <td>Scent</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- cleanliness -->
                <tr>
                  <td>Cleanliness</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- traffic -->
                <tr>
                  <td>Traffic</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic == 5 %>" alt="5"></i>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="half-space"></div>

            <% if @dungle.longitude and @dungle.latitude %>
              <div id="map"></div>
            <% end %>

            <div class="half-space"></div>

            <%= link_to root_path do %>
              <button class="btn shade purple-text white">
                <i class="fa fa-arrow-left before" aria-hidden="true"></i> Back to home
              </button>
            <% end %>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal">
      <div class="modal-dialog" role="form" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Edit Dungle Location
            </h5>
            <button type="button no-outline" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_for([@user, @dungle], remote: true) do |form| %>
              <% if @dungle.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@dungle.errors.count, "error") %> prohibited this dungle from being saved:</h2>

                  <ul>
                  <% @dungle.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= form.label :location_title, 'Location' %>
                <%= form.text_field :location_title, id: :dungle_location_title, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :address %>
                <%= form.text_field :address, id: :dungle_address, class: 'form-control' %>
              </div>

              <div class="half-space"></div>
              <div class="actions center">
                <%= form.submit 'Update Location', class: 'btn shade green' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @dungle.longitude and @dungle.latitude %>
      <script>
          function initMap() {
              var position = {
                  lat: <%= @dungle.latitude %>,
                  lng: <%= @dungle.longitude %>
              };
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: position
              });
              var marker = new google.maps.Marker({position: position, map: map});
          }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKA-2kym8TeAHSh6lNFnyA4SG1AuJ46G8&callback=initMap"></script>
    <% end %>
