<p id="notice"><%= notice %><i class="fa fa-times fa-lg right" aria-hidden="true"></i></p>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pad-20-10">

            <% if current_user === @dungle.user %>
              <i class="fa fa-ellipsis-v fa-lg right-absolute pad-10 cursor" aria-hidden="true"></i>
            <% end %>
            <h2><%= @dungle.title %></h2>
            <%= link_to @dungle.user do %>
              <h6><%= @dungle.user.name %></h6>
            <% end %>

            <div class="divider"></div>

            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-lg fa-map-marker"></i>
                <%= @dungle.location_title %><br>
                <span class="text-muted"><%= @dungle.address %></span>
              </li>
            </ul>

            <div class="divider"></div>

            <p class="bigger">
                <%= @dungle.description %>
            </p>

            <table class="table">
              <tbody>
                <!-- performance -->
                <tr>
                  <td>Performance</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.performance == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- ambience -->
                <tr>
                  <td>Ambience</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.ambience == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- scent -->
                <tr>
                  <td>Scent</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.scent == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- cleanliness -->
                <tr>
                  <td>Cleanliness</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.cleanliness == 5 %>" alt="5"></i>
                  </td>
                </tr>

                <!-- traffic -->
                <tr>
                  <td>Traffic</td>
                  <td class="stars">
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 1 %>" alt="1"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 2 %>" alt="2"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 3 %>" alt="3"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic >= 4 %>" alt="4"></i>
                    <i class="fa fa-lg fa-star <%= 'selected' if @dungle.traffic == 5 %>" alt="5"></i>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="half-space"></div>
            <button class="btn blush-text white shade" data-toggle="modal" data-target="#modal">
              Toggle Modal
            </button>
            <div class="half-space"></div>

            <% if @dungle.longitude and @dungle.latitude %>
              <div id="map"></div>
            <% end %>

            <div class="half-space"></div>

            <% if current_user and current_user === @dungle.user %>
            <%= link_to 'Edit Dungle', edit_user_dungle_path(id: @dungle.id) %><br>
            <%= link_to 'Delete Dungle', user_dungle_path(id: @dungle.id), method: :delete %><br>
            <% end %>

            <div class="half-space"></div>

            <%= link_to root_path do %>
              <button class="btn shade purple-text white">
                <i class="fa fa-arrow-left before" aria-hidden="true"></i> Back to home
              </button>
            <% end %>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal">
      <div class="modal-dialog" role="form" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              This is the modal title
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is the modal body
          </div>
        </div>
      </div>
    </div>

    <% if @dungle.longitude and @dungle.latitude %>
      <script>
          function initMap() {
              var position = {
                  lat: <%= @dungle.latitude %>,
                  lng: <%= @dungle.longitude %>
              };
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: position
              });
              var marker = new google.maps.Marker({position: position, map: map});
          }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKA-2kym8TeAHSh6lNFnyA4SG1AuJ46G8&callback=initMap"></script>
    <% end %>
