<%= form_for([@dungle, @dungle.location.new], remote: true) do |form| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :location_title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :location_address, class: 'form-control', required: 'true'  %>
  </div>

  <div class="half-space"></div>
  <div class="actions">
    <%= form.submit 'Post Dungle', class: 'btn shade white blush-text' %>
  </div>
  <div class="space"></div>
<% end %>
