<!DOCTYPE html>
<html>
  <head>
    <title>Dunglebook</title>
    <meta charset="UTF-8">
    <meta name="description" content="Making the world a better place, one poop at a time.">
    <meta name="keywords" content="Dungle, dunglebook, poop">
    <meta name="author" content="Cameron Cabo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.21/autosize.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <script type="text/javascript">
      $(document).ready(function() {
        $notice = $('#notice');
        if ($notice.text().length > 0) {
          $notice.slideDown(200);
        }

        $notice.find('.fa.fa-times').click(function() {
          $notice.slideUp(200);
        });
      });

      autosize($('textarea'));
    </script>
  </body>
</html>
