<!DOCTYPE html>
<html>
  <head>
    <title>Dunglebook</title>
    <meta charset="UTF-8">
    <meta name="description" content="Making the world a better place, one poop at a time.">
    <meta name="keywords" content="Dungle, dunglebook, poop">
    <meta name="author" content="Cameron Cabo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether-theme-arrows-dark.min.css"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
